<%= render partial: "shared/nav" %>

<div class="row">
  <div class="col-sm-6 column-header">
    <p class='mr-auto'>Favorite Customers</p>
  </div>
  <div class="col-sm-6 column-header">
    <p class='ml-auto'>Items Ready to Ship</p>
  </div>
</div>

<div class="mr-auto col-sm-6">
  <ul>
    <% @merchant.favorite_customers.each do |customer| %>
      <section id="customer-<%= customer.id %>">
          <li><%= customer.first_name %> <%= customer.last_name %>
          - <%= customer.top_result %> Purchases</li>
      </section>
    <% end %>
  </ul>
</div>

<div class="ml-auto col-sm-6">
  <ul>
    <section id ="items_ready_to_ship">
      <p><% @merchant.ordered_items_to_ship.each do |item| %>
            <li><%= item.name %> - Invoice #<%= link_to "#{item.invoice_ids}", "/merchants/#{@merchant.id}/invoices/#{item.invoice_ids[0]}" %>
            <%= item.created_at.strftime("%A, %B %-d, %Y") %></li>
        <% end %>
      </p>
    </section>
  </ul>
</div>