<%= render partial: "shared/adminnav" %>

<div class="row">
  <div class="col-sm-6">
    <div class="admin column-header">
      <p class="mr-auto">Top 5 Customers</p>
    </div>
    <ul>
      <% @customers.each do |c| %>
        <li><%= c.first_name + ' ' + c.last_name %> - 
        <%= c.number_of_transactions %> Purchases
      <% end %>
    </ul>
  </div>

  <div class="col-sm-6">
    <div class="admin column-header">
      <p class="mr-auto">Incomplete Invoices</p>
    </div>

    <ul>
      <% @invoices.each do |i| %>
        <li><%= link_to "Invoice # #{i.id}", admin_invoice_path(i.id) %></a> - <%= i.created_at.strftime("%A, %B %d, %Y") %>
      <% end %>
    </ul>
  </div>
</div>