<%= render partial: "shared/nav" %>
<h1><%= @coupon.coupon %> Coupon Details</h1>
<section>
  <p>Code: <%= @coupon.unique_code.upcase %></p>
  <p>Value: <%= @coupon.amount_off %> 
    <% if @coupon.percent? %>
      percent off
    <% else %>
      dollars off
    <% end %>
  </p>
  <p>Status: <%= @coupon.status %> 
    <% if @coupon.status == "active" %>
      <%= form_with model: [:merchant, Coupon.new], method: :patch, url: "/merchants/#{params[:merchant_id]}/coupons/#{params[:id]}", local: true do |f| %>
        <%= f.hidden_field :status, value: "inactive" %>
        <%= f.submit "deactivate" %>
      <% end %>
    <% else %>
      <%= form_with model: [:merchant, Coupon.new], method: :patch, url: "/merchants/#{params[:merchant_id]}/coupons/#{params[:id]}", local: true do |f| %>
        <%= f.hidden_field :status, value: "active" %>
        <%= f.submit "activate" %>
      <% end %>
    <% end %>
  </p>
  <p>Successful Transactions: <%= @coupon.successful_transactions%></p>
</section>
