<div class="nav-container container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h3 class="navbar-text"><%= @merchant.name %></h3>
    <ul class="nav navbar-nav pull-right">
      <li><%= link_to 'Dashboard', merchant_dashboard_index_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Items', merchant_items_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Invoices', merchant_invoices_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'All Coupons', merchant_coupons_path %></li>
    </ul>
  </nav>
</div>